.card__like-button {
    background: url(../../../images/like-heart.svg) no-repeat;
    border: none;
    padding: 0;
    min-height: 19px;
    min-width: 21px;
    transition: opacity 0.3s linear;
}

.card__like-button:hover {
    opacity: 0.5;
    cursor: pointer;
}