.cards {
    display: grid;
    margin-top: 50px;
    max-width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(282px, auto));
    gap: 20px 17px;
    justify-content: center;
}

@media screen and (max-width: 320px) {
    .cards {
        margin-top: 36px;
    }
}