.form__button {
    margin: 0 0 36px;
    padding: 0;
    background: #000;
    border-radius: 2px;
    border: none;
    font-weight: normal;
    font-size: 18px;
    line-height: 122%;
    text-align: center;
    color: #FFF;
    min-height: 50px;
    transition: opacity 0.3s linear;
}

.form__button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .form__button {
        margin: 46px 0 25px;
    }
}
